@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: linear-gradient(to right, #f7c0ec, #a7bdea);
  width: 100%;
  height: 100vh;
  display: flex;
}

/* start of home.html */
.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  caret-color: transparent;
  position: relative;
}

.home-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.form-container {
  background-color: #1a2a4b;
  width: 380px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  caret-color: transparent;
}

.button-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 20px;
  box-shadow: 0 0 20px 9px #111c34;
  width: 85%;
  min-height: 35px;
  margin: 30px auto;
}

.toggle-btn {
  font-size: 1rem;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  width: 100%;
  height: 100%;
  outline: none;
  user-select: none;
  transition: 0.5s;
}

.current-btn {
  background-color: #080f1e;
  border-radius: 20px;
}

.form-box {
  height: 100%;
  width: 80%;
  margin: 18px auto;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.form-element {
  display: flex;
  width: 100%;
  flex-direction: column;
  transition: 2s;
}

.form-label {
  display: block;
  width: 100%;
  color: white;
}

.form-field {
  margin: 8px 0;
  display: block;
  width: 100%;
  min-height: 30px;
  background-color: #111c34;
  color: white;
  outline: none;
  border: none;
  padding: 8px;
  caret-color: auto;
}

.submit-btn {
  margin-top: 30px;
  font-size: 1rem;
  width: 100%;
  min-height: 40px;
  border-radius: 30px;
  align-self: center;
  background-color: #080f1e;
  cursor: pointer;
}

.no-display {
  display: none;
}

.error-message {
  display: block;
  color: red;
}

.authentication-error {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

/* start of chat.html */

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 0.8fr;
  justify-content: space-between;
  background-color: #1a2a4b;
  color: white;
  border-radius: 15px;
  width: 500px;
  height: 600px;
  caret-color: transparent;
}

.infobar {
  width: 100%;
  height: 65px;
  padding: 5px;
  margin-top: 5px;
  position: relative;
}

.infobar p {
  display: inline;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: limegreen;
  background-color: limegreen;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-left: 5px;
}

.infobar img {
  display: inline-block;
  margin-top: 5px;
  margin-left: 18px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: lightblue;
}

.infobar h2 {
  display: inline-block;
  position: absolute;
  font-family: "Roboto", system-ui;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.messageArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #080f1e #1a2a4b;
}

.messageContainer {
  display: flex;
  gap: 10px;
  padding: 0px 15px;
  width: 100%;
}

.messageInfo {
  display: flex;
  flex-flow: column wrap;
}

.messageInfo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: lightblue;
}

.messageInfo h5 {
  text-align: center;
  font-family: "Roboto", system-ui;
  font-size: 10px;
}

.user {
  flex-direction: row-reverse;
}

.message {
  align-self: center;
  padding: 10px;
  max-width: 70%;
  min-height: 1rem;
  font-family: "Roboto", system-ui;
}

.message-ai {
  background-color: rgb(4, 4, 213);
  border-radius: 0px 10px 10px 10px;
}

.message-user {
  background-color: rgb(52, 206, 52);
  border-radius: 10px 0px 10px 10px;
  text-align: end;
}

.messageInput {
  display: flex;
  align-items: center;
  width: 100%;
}

.messageInput form {
  display: flex;
  padding: 0px 15px;
  width: 100%;
}

.messageInput form input {
  background-color: #111c34;
  border-radius: 10px;
  color: white;
  border: none;
  width: 100%;
  height: 40px;
  padding: 12px;
  font-size: 1rem;
  caret-color: auto;
}

input:focus {
  outline: none;
}

.login-info {
  position: absolute;
  right: 1%;
  display: flex;
  margin-top: 5px;
  gap: 5px;
  height: 40px;
}

.login-info p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-info a {
  text-decoration: none;
  color: white;
  background-color: #111c34;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  border-radius: 20px;
}

.response-wait {
  color: white;
  font-size: 1rem;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    color: grey;
  }

  100% {
    color: white;
  }
}

/* start of dashboard.html*/

.dashboard-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-hero {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-container {
  width: 380px;
  min-height: 480px;
  background-color: #1a2a4b;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  caret-color: transparent;
}

.upload-container h3 {
  margin: 30px auto;
}

.upload-form {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  caret-color: transparent;
}

#upload-field {
  display: none;
}

.upload-box {
  display: flex;
  position: relative;
  width: 300px;
  min-height: 200px;
  border: 2px dashed #080f1e;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  user-select: none;
}

.upload-box i {
  font-size: 30px;
}

.file-info {
  display: flex;
  position: absolute;
  height: 30px;
  bottom: 10px;
  margin: 0 auto;
  gap: 5px;
}

.file-info i {
  font-size: 25px;
}

.info {
  max-width: 200px;
  max-height: 40px;
  display: flex;
  flex-direction: column;
}

.info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info p:nth-child(2) {
  font-size: 12px;
}

.wait-hero {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(255, 255, 255, 0.329));
  position: absolute;
}

.wait-container {
  height: 120px;
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wait-circle {
  width: 100%;
  height: 100%;
  border: 6px solid;
  border-color: white transparent;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  caret-color: transparent;
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}
