<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="chat-container">
      <header>
        <h1>Chatbot</h1>
        <div class="login-info">
          <p>{{ email }}</p>
          <a href="{{url_for('logout')}}">Logout</a>
        </div>
      </header>
      <div class="chat-hero">
        <div class="container">
          <div class="infobar">
            <p></p>
            <img src="{{url_for('static', filename='robot.png')}}" alt="" />
            <h2>Ask me anything!</h2>
          </div>

          <div class="messageArea"></div>

          <div class="messageInput">
            <form action="{{url_for('reply')}}" id="userForm" method="post">
              <input
                type="text"
                name="msg"
                id="msg"
                placeholder="Type your message..."
                required
                autocomplete="off"
              />
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      function getTime() {
        var date = new Date();
        var appendZero = (unit) => {
          return (unit < 10 ? "0" : "") + unit;
        };
        var dateText =
          appendZero(date.getHours()) + ":" + appendZero(date.getMinutes());
        return dateText;
      }

      function scrollToBottom() {
        const messageArea = document.querySelector(".messageArea");
        messageArea.scrollTop = messageArea.scrollHeight;
      }

      document
        .getElementById("userForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          const msgbox = document.getElementById("msg");
          const userText = msgbox.value;
          msgbox.value = "";

          var messageArea = document.getElementsByClassName("messageArea")[0];

          messageArea.innerHTML += `<div class="messageContainer user">
          <div class="messageInfo">
            <img src="{{url_for('static', filename='user.png')}}" alt="" />
            <h5>${getTime()}</h5>
          </div>
          <div class="message message-user">${userText}</div>
        </div>`;

          messageArea.innerHTML += `<div class="messageContainer ai">
          <div class="messageInfo">
            <img src="{{url_for('static', filename='robot.png')}}" alt="" />
          </div>
          <div class="message message-ai response-wait">•••</div>
        </div>`;

          const jsonData = {
            msg: userText,
          };

          const options = {
            method: "POST",
            headers: {
              "Content-type": "application/json",
            },
            body: JSON.stringify(jsonData),
          };

          fetch("{{url_for('reply')}}", options)
            .then((resp) => {
              const messageAis = document.querySelectorAll(".message-ai");
              var curMessage = messageAis[messageAis.length - 1];

              const messageInfos = document.querySelectorAll(".messageInfo");
              var messageInfo = messageInfos[messageInfos.length - 1];

              const eventSource = new EventSource("{{ url_for('stream') }}");

              eventSource.onmessage = function (event) {
                if (curMessage.classList.contains("response-wait")) {
                  curMessage.classList.remove("response-wait");
                  curMessage.innerHTML = "";
                  messageInfo.innerHTML += `<h5>${getTime()}</h5>`;
                }
                curMessage.innerHTML += event.data;
                scrollToBottom();
              };

              eventSource.onerror = function (event) {
                eventSource.close();
              };
            })
            .catch((e) => {
              console.log("Error sending message: ", e);
            });
        });
    </script>
  </body>
</html>
