<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <script
      src="https://kit.fontawesome.com/d036985314.js"
      crossorigin="anonymous"
    ></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="dashboard-container">
      <header>
        <h1>Dashboard</h1>
        <div class="login-info">
          <p>{{ email }}</p>
          <a href="{{url_for('logout')}}">Logout</a>
        </div>
      </header>

      <main class="dashboard-hero">
        <div class="upload-container">
          <h3>Upload file here</h3>

          <form
            action="{{url_for('upload')}}"
            class="upload-form"
            method="post"
            enctype="multipart/form-data"
          >
            {{ upload.hidden_tag() }}

            <div>
              <label for="upload-field" class="upload-box">
                <i class="fas fa-cloud-upload-alt"></i>
                <p>Browse files to upload</p> </label
              >{{ upload.pdf(id="upload-field") }}
            </div>
            <br />
            {% with messages =
            get_flashed_messages(category_filter=["filetype-error",
            "too-large"]) %} {% if messages %} {% for message in messages %}
            <div class="error-message">{{ message }}</div>
            {% endfor %} {% endif %} {% endwith %}
            <div>{{ upload.submit(class="form-field submit-btn") }}</div>
            <br />
          </form>
        </div>
        {% with messages =
        get_flashed_messages(category_filter='logout-message') %} {% if messages
        %} {% for message in messages %}
        <div class="authentication-error error-message">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}
      </main>
    </div>

    <div class="wait-hero no-display">
      <div class="wait-container">
        <div class="wait-circle"></div>
      </div>
    </div>

    <script>
      const uploadBox = document.querySelector(".upload-box");
      const fileInput = document.querySelector("#upload-field");

      fileInput.onchange = ({ target }) => {
        let file = target.files[0];
        if (file) {
          let fileInfo = document.querySelector(".file-info");
          if (fileInfo) {
            fileInfo.remove();
          }

          let filename = file.name;
          let filesize = file.size / (1024 * 1024);
          let unit = filesize < 1 ? "KB" : "MB";
          filesize = filesize < 1 ? filesize * 1000 : filesize;
          filesize = filesize.toFixed(2);
          uploadBox.innerHTML += `
          <div class="file-info">
            <i class="fa fa-file"></i>
            <div class="info">
              <p>${filename}</p>
              <p>${filesize}${unit}</p>
            </div>
          </div>
          `;
        }
      };

      document.querySelector(".upload-form").addEventListener("submit", () => {
        document.querySelector(".wait-hero").classList.remove("no-display");
      });
    </script>
  </body>
</html>
