<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="home-container">
      <header>
        <h1>ChatBot</h1>
      </header>

      <main>
        <div class="form-container">
          <div class="button-box">
            <button
              type="button"
              class="toggle-btn current-btn"
              id="login-btn"
              onclick="login()"
            >
              Login
            </button>
            <button
              type="button"
              class="toggle-btn"
              id="signup-btn"
              onclick="signup()"
            >
              Sign Up
            </button>
          </div>

          <div class="form-box">
            <form
              action="{{url_for('login')}}"
              class="form-element"
              id="login-form"
              method="post"
            >
              {{ login.hidden_tag() }}
              <div>
                {{ login.email.label(class="form-label") }} {{
                login.email(class="form-field") }}{% if login.email.errors %} {%
                for error in login.email.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %} {% endif %} {% with messages =
                get_flashed_messages(category_filter='email-not-exists') %} {%
                if messages %} {% for message in messages %}
                <span class="error-message">{{ message }}</span>
                {% endfor %} {% endif %} {% endwith %}
              </div>
              <br />
              <div>
                {{ login.password.label(class="form-label") }} {{
                login.password(class="form-field")}}{% if login.password.errors
                %} {% for error in login.password.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %} {% endif %} {% with messages =
                get_flashed_messages(category_filter='password-error') %} {% if
                messages %} {% for message in messages %}
                <span class="error-message">{{ message }}</span>
                {% endfor %} {% endif %} {% endwith %}
              </div>
              <br />
              <div>{{ login.submit(class="form-field submit-btn") }}</div>
              <br />
            </form>

            <form
              action="{{url_for('signup')}}"
              class="form-element no-display"
              id="signup-form"
              method="post"
            >
              {{ signup.hidden_tag() }}
              <div>
                {{ signup.email.label(class="form-label") }} {{
                signup.email(class="form-field") }}{% if signup.email.errors %}
                {% for error in signup.email.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %} {% endif %} {% with messages =
                get_flashed_messages(category_filter='email-exists') %} {% if
                messages %} {% for message in messages %}
                <span class="error-message">{{ message }}</span>
                {% endfor %} {% endif %} {% endwith %}
              </div>
              <br />
              <div>
                {{ signup.password.label(class="form-label") }}{{
                signup.password(class="form-field")}}{% if
                signup.password.errors %} {% for error in signup.password.errors
                %}
                <span class="error-message">{{ error }}</span>
                {% endfor %} {% endif %}
              </div>
              <br />
              <div>
                {{ signup.confirm_password.label(class="form-label") }} {{
                signup.confirm_password(class="form-field") }}{% if
                signup.confirm_password.errors %} {% for error in
                signup.confirm_password.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %} {% endif %}
              </div>
              <br />
              <div>{{ signup.submit(class="form-field submit-btn") }}</div>
              <br />
            </form>
          </div>
        </div>
      </main>
    </div>

    <script>
      const loginForm = document.querySelector("#login-form");
      const signupForm = document.querySelector("#signup-form");

      const loginBtn = document.querySelector("#login-btn");
      const signupBtn = document.querySelector("#signup-btn");

      const showSignup = "{{ show_signup }}";
      if (showSignup === "True") {
        signupBtn.click();
      }

      function login() {
        loginForm.classList.remove("no-display");
        signupForm.classList.add("no-display");

        loginBtn.classList.add("current-btn");
        signupBtn.classList.remove("current-btn");
      }

      function signup() {
        loginForm.classList.add("no-display");
        signupForm.classList.remove("no-display");

        loginBtn.classList.remove("current-btn");
        signupBtn.classList.add("current-btn");
      }
    </script>
  </body>
</html>
